* {
    box-sizing: border-box;
}

html body {
	margin: 0;
}


@media screen and (max-width: 768px) {

	/* typography */

	h1 {
		font-family: 'Spartan', sans-serif;
		font-size: 37.9px;
		line-height: 56.85px;
		color: #122B45;
		font-weight: 400;
	}

	h2 {
		font-family: 'Spartan', sans-serif;
		font-size: 28.43px;
		line-height: 42.65px;
		font-weight: 400;
		color: #122B45;
		margin: 0px;
	}

	h3 {
		font-family: 'Spartan', sans-serif;
		font-size: 21.33px;
		line-height: 32px;
		font-weight: 400;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	h4 {
		font-family: 'Spartan', sans-serif;
		font-size: 21.33px;
		line-height: 32px;
		font-weight: 300;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	p {
		font-family: Roboto, sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		max-width: 100%;
		color: #605F5E;
	}


	h5 { /* for labels */
		font-family: 'Spartan', sans-serif;
		font-size: 13.5px;
		line-height: 18px;
		font-weight: 600;
		color: #122B45;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
	}

	h6 { /* for services */
		font-family: 'Spartan', sans-serif;
		font-size: 10.13px;
		line-height: 14px;
		font-weight: 600;
		color: #122B45;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.bold {
		font-weight: 600;
	}

	.pink {
		color: #EA4C89;
	}

	/* general styles */

	.nav-link {
		font-family: 'Spartan', sans-serif;
		font-size: 13.5px;
		line-height: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
		color: #605F5E;
		padding-left: 54px;
		text-decoration: none;
		overflow: hidden;
	}

	.menu-icon {
		font-size: 27px;
		display: none;
	}

	.hero {
		height: 80vh;
		width: 100vw;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 5% 5%;
		max-width: 100%;
		overflow: hidden;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	ul li {
		list-style: none;
	}

	nav ul li {
		display: none;
	}

	nav ul {
		text-align: right;
	}

	nav img {
		align-self: left;
	}

	main {
		margin: 10% 5%;
	}

	.topnav {
		display: none;
	}

	.project-overlay-link {
		display: none;
	}

	.link {
		text-decoration: none;
		text-align: center;
		padding: 24px;
	}

	.jumbo-link {
		font-family: 'Spartan', sans-serif;
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	img {
		width: 100%
		height: auto;
	}

	/* homepage styles */

	.header-homepage {
		margin: 0 5%;
		padding: 35% 0 10% 0;
	}

	.container {
		padding-top: 27px;
	}

	.project-container {
		display: inline-flex;
	}

	.row {
		padding-bottom: 54px;
		flex-direction: row;
	}

	.row-even {
		flex-direction: row-reverse;
	}

	.column { 
		width: 100%;
	}

	.col-middle {
		height: 27px;
	}

	.col-thumbnail {
		width: 100%;
	}

	.project-thumbnail {
		width: 100%;
		height: auto;
	}

	.col-description {
		width: 100%;
	}

	.service {
		padding: 7px 0;
		font-family: 'Spartan', sans-serif;
		font-size: 10.13px;
		line-height: 14px;
		font-weight: 600;
		color: #122B45;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
	}

	/* footer styles */

	footer {
		align-items: center;
	}

	.box-footer {
		width: 100%;
		border-radius: 2px;
		background-color: #EFEFEF;
		margin: 0 auto;
		border: 0;
		text-align: center;
		padding: 81px 0;
	}

	.social-icons {
		list-style: none;
		margin: 0;
		display: inline-flex;
		padding-top: 27px;
	}

	.fa {
		padding: 15px 15px;
		font-size: 20px;
		text-decoration: none;
		margin: 0 14px;
		border-radius: 50%;
	}

	.fa-facebook {
	  	background: #122B45;
	  	color: white;
	  	width: 45px;
	  	display: inline-block;
	}

	.fa-facebook:hover {
	  	background: #4267B2;
	  	color: white;
	}

	.fa-instagram {
	  	background: #122B45;
	  	color: white;
	  	width: 45px;
	  	display: block;
	}

	.fa-instagram:hover {
	  	background: linear-gradient(45deg, yellow, #FD1D1D, #C13584);
	  	color: white;
	}

	.fa-dribbble {
		background: #122B45;
	  	color: white;
	  	width: 45px;
	  	display: block;
	}

	.fa-dribbble:hover {
	  	background: #EA4C89;
	  	color: white;
	}

	.end-note {
		text-align: center;
		font-size: 13.5px;
		color: #605F5E;
		padding: 14px 0;
	}
}





