* {
    box-sizing: border-box;
}

html body {
	margin: 0;
}


@media screen and (max-width: 768px) {

	/* typography */

	h1 {
		font-family: 'Spartan', sans-serif;
		font-size: 37.9px;
		line-height: 56.85px;
		color: #122B45;
		font-weight: 400;
	}

	h2 {
		font-family: 'Spartan', sans-serif;
		font-size: 28.43px;
		line-height: 42.65px;
		font-weight: 400;
		color: #122B45;
		margin: 0px;
	}

	h3 {
		font-family: 'Spartan', sans-serif;
		font-size: 21.33px;
		line-height: 32px;
		font-weight: 400;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	h4 {
		font-family: 'Spartan', sans-serif;
		font-size: 21.33px;
		line-height: 32px;
		font-weight: 300;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	p {
		font-family: Roboto, sans-serif;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		max-width: 100%;
		color: #605F5E;
	}


	h5 { /* for labels */
		font-family: 'Spartan', sans-serif;
		font-size: 13.5px;
		line-height: 18px;
		font-weight: 600;
		color: #668586;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
	}

	h6 { /* for services */
		font-family: 'Spartan', sans-serif;
		font-size: 10.13px;
		line-height: 14px;
		font-weight: 600;
		color: #668586;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.bold {
		font-weight: 600;
	}

	.pink {
		color: #EA4C89;
	}

	.small-caption {
		font-size: 13.5px;
		text-align: center;
	}

	.text-invert {
		color: white;
	}

	/* navigation */

	.desktop-nav {
		display: none;
	}

	nav {
		margin: 10% 5%;
	}

	.hamburger-menu-icon {
		float: right;
		padding: 27px 0;
	}

	.bar {
	    width: 30px;
	    height: 3px;
	    margin: 5px auto;
	    background-color: black;
	    transition:all 0.3s ease-in-out;
  	}

	.mobile-nav-links {
		font-family: 'Spartan', sans-serif;
		font-size: 13.5px;
		line-height: 18px;
		font-weight: 500;
		color: #122B45;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.overlay { 
        height: 100%; 
        width: 100%; 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        background-color: #F8F8F8;
    } 

    .overlay-content { 
        position: relative; 
        top: 35%; 
        width: 100%; 
        text-align: center; 
    } 

    .overlay a { 
        padding: 14px; 
        text-decoration: none;  
        display: block; 
        transition: 0.3s; 
    } 

    .overlay a:hover, 
    .overlay a:focus { 
        color: black; 
    } 

    .overlay .closebtn { 
        position: absolute; 
        padding: 27px 0;
        top: 5%; 
        right: 5%;
        font-family: 'Spartan', sans-serif;
        font-size: 41px;
    } 

	/* general styles */

	.hero {
		height: 80vh;
		width: 100vw;
	}

	a {
		color: #122B45;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	ul li {
		list-style: none;
	}

	button {
		font-family: 'Spartan', sans-serif;
		font-size: 13.5px;
		line-height: 18px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 14px 27px;
		color: #122B45;
		background-color: #F8F8F8;
		border: 1px solid #122B45;
	  	border-radius: 2px;
		padding: 14px 27px;
		transition: background-color 0.5s, color 0.5s;
	}

	main {
		margin: 10% 5%;
	}

	.project-overlay-link {
		display: none;
	}

	.link {
		text-decoration: none;
		text-align: center;
		padding: 24px;
	}

	.jumbo-link {
		font-family: 'Spartan', sans-serif;
		font-size: 18px;
		line-height: 27px;
		font-weight: 300;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	img {
		width: 100%
		height: auto;
		display: block;
	}

	/* homepage styles */

	.header-homepage {
		margin: 0 5%;
		padding: 35% 0 10% 0;
	}

	.container {
		padding-top: 27px;
	}

	.row {
		padding-bottom: 54px;
		flex-direction: row;
	}

	.row-even {
		flex-direction: row-reverse;
	}

	.column { 
		width: 100%;
	}

	.col-middle {
		height: 27px;
	}

	.col-thumbnail {
		width: 100%;
	}

	.project-thumbnail {
		width: 100%;
		height: auto;
	}

	.col-description {
		width: 100%;
	}

	.service {
		padding: 7px 0;
		font-family: 'Spartan', sans-serif;
		font-size: 10.13px;
		line-height: 14px;
		font-weight: 600;
		color: #122B45;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
	}

	/* about page styles */

	.about-portrait {
		width: 100%;
		height: auto;
	}

	/* gallery styles */

	.gallery-tab {
		margin: 5% 0 0 0;
	}

	.row-gallery {
		display: block;
		flex-direction: row;
	}

	.tablink {
		color: darkgray;
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 27px 14px 0;
		transition: 0.3s;
	}

	.gallery-tab button:hover {
		color: #122B45;
		background-color: #FAFAFA;
	}

	.gallery-tab button.active {
		color: #122B45;
	}

	/* footer styles */

	footer {
		align-items: center;
	}

	.box-footer {
		width: 100%;
		border-radius: 2px;
		background-color: #EFEFEF;
		margin: 0 auto;
		border: 0;
		text-align: center;
		padding: 81px 0;
	}

	.social-icons {
		list-style: none;
		margin: 0;
		display: inline-flex;
		padding-top: 27px;
	}

	.fa {
		font-size: 20px;
		text-decoration: none;
		border-radius: 50%;
	}

	.fa-facebook {
		padding: 15px 15px;
		margin: 0 14px;
	  	background: #122B45;
	  	color: white;
	  	width: 45px;
	  	display: inline-block;
	}

	.fa-instagram {
		padding: 15px 15px;
		margin: 0 14px;
	  	background: #122B45;
	  	color: white;
	  	width: 45px;
	  	display: block;
	}

	.fa-dribbble {
		padding: 15px 15px;
		margin: 0 14px;
		background: #122B45;
	  	color: white;
	  	width: 45px;
	  	display: block;
	}


	.end-note {
		text-align: center;
		font-size: 13.5px;
		color: #605F5E;
		padding: 14px 14px;
	}

	/* case study */

	.project-introduction {
		margin: 5% 5%;
	}

	.row {
		padding-bottom: 54px;
	}

	.row-project {
		display: flex;
		flex-direction: row;
		margin: 0 5%;
	}

	.row-project-label {
		display: flex;
		flex-direction: row;
		padding-top: 27px;
		padding-bottom: 0px;
	}

	.project-label {
		width: 189px;
	}

	.project-block-1 {
		margin: 10% 5%;
	}

	.project-block-2 {
		background-color: #FFFFFF;
		width: 100%;
		padding: 10% 5% 2% 5%;
	}

	.project-block-3 {
		width: 100%;
	}

	.row-list {
		display: flex;
		align-self: center;
	  	flex-direction: row;
		padding-top: 27px;
	}

	.project-application {
		padding-right: 27px;
	}

	.application-logo {
		width: 50px;
		height: 50px;
		margin: auto;
	}

	.project-apps {
		padding-top: 27px;
	}

	.color-circle {
		width: 75px;
		height: 75px;
		border-radius: 300px;
	}

	.brand-color {
		padding-right: 27px;
	}

	.sticky {
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;  		
  		padding: 60% 0;
  		padding-right: 20%;
	}

	.col-img-thumbnail {
		padding: 14px 0;
		width: 100%;
	}

	.cropped-img {
		display: none;
	}

	.small-caption .text-invert {
		margin: 0;
	}

	.big-button {
		text-transform: none;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: .5px;
		padding: 27px 54px;
	}
}

@media screen and (max-width: 414px) {

	.row-project {
		display: block;
	}

	.row-list {
		display: flex;
		flex-wrap: wrap;
		padding-top: 27px;
	}

	.project-apps {
		padding-top: 27px;
	}

	.color-circle {
		width: 74px;
		height: 75px;
		border-radius: 300px;
	}

	.project-application {
		padding-right: 27px;
	}

	.application-logo {
		width: 50px;
		height: 50px;
	}

	.sticky {	
		position: unset;	
  		padding: 54px 0 27px 0;
  		padding-right: 0%;
	}

	.big-button {
		text-transform: none;
		font-weight: 400;
		font-size: 13.5px;
		line-height: 18px;
		letter-spacing: .5px;
		padding: 27px 54px;
	}
}

@media screen and (max-width: 375px) {
	
	h1 {
		font-family: 'Spartan', sans-serif;
		font-size: 28.43px;
		line-height: 42.65px;
		font-weight: 400;
		color: #122B45;
		margin: 14px 0;
	}

	h2 {
		font-family: 'Spartan', sans-serif;
		font-size: 23.99px;
		line-height: 36px;
		font-weight: 400;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	h3 {
		font-family: 'Spartan', sans-serif;
		font-size: 21.33px;
		line-height: 32px;
		font-weight: 400;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	h4 {
		font-family: 'Spartan', sans-serif;
		font-size: 21.33px;
		line-height: 32px;
		font-weight: 300;
		color: #122B45;
		margin: 0;
		letter-spacing: 0.5px;
	}

	.header-homepage {
		margin: 0 5%;
		padding: 35% 0 10% 0;
	}

	main {
		padding: 10% 0%;
	}
}

@media screen and (max-width: 320px) {

	main {
		padding: 20% 0;
	}
}