* {
    box-sizing: border-box;
}

html body {
	margin: 0;
	max-width: 100%;
}

body {
	background-color: #FAFAFA;
}

/* typography */

h1 {
	font-family: 'Spartan', sans-serif;	
	font-size: 100.98px;
	line-height: 152px;
	font-weight: 400px;
}

h2 {
	font-family: 'Spartan', sans-serif;
	font-size: 42.64px;
	line-height: 64px;
	font-weight: 600;
}

h3 {
	font-family: 'Spartan', sans-serif;
	font-size: 31.98px;
	line-height: 48px;
	font-weight: 400;
	color: #122B45;
	margin: 0px;
}

h4 {
	font-family: 'Spartan', sans-serif;
	font-size: 23.99px;
	line-height: 36px;
	font-weight: 300;
	color: #122B45;
	margin: 0;
	letter-spacing: 0.5px;
}

/* h5 is for labels */ 

h5 {
	font-family: 'Spartan', sans-serif;
	font-size: 13.5px;
	line-height: 18px;
	font-weight: 600;
	color: #122B45;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

h6 {
	font-family: 'Spartan', sans-serif;
	font-size: 10.13px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

p {
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 27px;
	max-width: 100%;
	color: #605F5E;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 600;
}

/* general styles */

.nav-link {
	font-family: 'Spartan', sans-serif;
	font-size: 13.5px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
	padding-left: 54px;
	text-decoration: none;
}

.nav-link, .active {
	color: #7F7DAE;
	font-weight: 700;
}

ul li {
	list-style: none;
}

nav ul li {
	display: inline-block;
}

nav ul {
	text-align: right;
	padding: 27px 81px;
}

nav img {
	align-self: left;
	padding: 27px 81px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
}

button {
	font-family: 'Spartan', sans-serif;
	font-size: 13.5px;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 14px 27px;
	color: #7F7DAE;
	background-color: #FAFAFA;
	border: .5px solid #7F7DAE;
  	border-radius: 4px;
	padding: 14px 27px;
	transition: background-color 0.5s, color 0.5s;
}

button:hover {
	background-color: #7F7DAE;
	color: #FAFAFA;
}

.container {
	align-content: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* homepage styles */

.project-thumbnail {
	max-width: 100%;
}
