
* {
  box-sizing:border-box;
  font-family:"Spartan","Helvetica","sans-serif";
  color: black ;
}

body {
  margin: 0;
  padding: 0;
}

/* navigation */

nav {
  margin: 54px 5%;
}

nav img .logo {
  align-self: left;
}

.topnav {
  float: right;
}

.nav-links {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 27px 27px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
}

.topnav a:hover {
  border-bottom: 2px;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .hamburger-menu {
  display: none;
}

button {
  font-family: 'Spartan', sans-serif;
  font-size: 13.5px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 27px;
  color: #122B45;
  background-color: #F8F8F8;
  border: .5px solid #122B45;
  border-radius: 2px;
  padding: 14px 27px;
  transition: background-color 0.5s, color 0.5s;
}

button:hover {
  background-color: #122B45;
  color: #FAFAFA;
}

/* mobile navigation */

@media screen and (max-width: 600px) {

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.hamburger-menu {
    float: right;
    display: block;
  }

  .bar {
    width:30px;
    height:2px;
    margin:5px auto;
    background-color: black;
    transition:all 0.3s ease-in-out;
  }

  .hamburger-menu {
    margin: 14px;
  }

  .topnav .desktop-nav-links {
    padding: 27px 0px;
  }

  .topnav.responsive {
    position: relative;
    background-color: pink;
  }
  
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}